@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#body{
    width: 100%;
    height: 100%;
}

/* navbar section start */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
#navbar-right-side{
    display: flex; 
    align-items: center;
    gap: 30px;  
}
.menu li{
    margin-left: 28px;
	list-style: none;
	display: inline-block;
    
}
#home{
    color: #709DFF;
}
.menu li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #282A2E;
}
.menu li a:hover{
    color: #709DFF;
}
.flag-input{
    border: 0;
    font-weight: 600;
    font-size: 12px;
}
.btn-sign-in{
    padding: 10px 28px;
    background-color: #709DFF;
    border: 0;
    font-size: 12px;
    color: #FFFFFF;
    cursor: pointer;
}
/* navbar section end */

/* banner section start */
#banner{
    padding: 40px 80px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    
}
#banner-top-circle{
    position: absolute;
    top: 85px;
    left: 65px;
    width: 70px;
    height: 70px;
    background-color: #FFAD6E;
    border-radius: 100%;
    z-index: -1;
}
.banner-title{
    font-size: 45px;
    font-weight: 700;
    color: #282A2E;
    z-index: 99;
    padding-right: 50px;
}
.banner-subtitle{
    margin-top: 5px;
    font-size: 16px;
    color: #647589;
}
.button-group{
    margin-top: 50px;
}
.banner-button-1{
    border: 0;
    background-color: #EAEAEA;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #647589;
    cursor: pointer;
}
.banner-button-2{
    border: 0;
    background-color: #FFFFFF;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #647589;
    border-bottom: 2px solid #709DFF;
    box-shadow: 1px 1px 2px rgb(201, 196, 196);
    cursor: pointer;
}
.rent-option{
    background-color: #ffffff;
    position: absolute;
    width: 740px;
    z-index: 44;
    top: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgb(224, 220, 220);
}
.rent-input select{
    border: 0;
    font-size: 16px;
    font-weight: 500;
}
.rent-input p{
    font-size: 14px;
    color: #647589;
    margin-top: 5px;
}
.fa-magnifying-glass{
    color: #FFFFFF;
    font-size: 18px;
}
.search-btn{
    padding: 20px 30px;
    border: 0;
    background-color: #709DFF;
    cursor: pointer;
}
.achievement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}
.achievement h1{
    color: #FFAD6E;
    font-size: 28px;
    font-weight: 600;
}
.achievement h3{
    color: #282A2E;
    font-size: 16px;
    font-weight: 500;
}
#banner-line{
    margin: 10px 80px 30px 0;
}
.gallery-circle{
    position: relative;
    width: 170px;
    height: 170px;
    padding: 5px;
    border-radius: 100%;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgb(224, 220, 220);
    margin: auto;
}

svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 100%;
  }
#circle-text{
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
}
.fa-arrow-left-long{
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 30px;
    transform: rotate(-40deg);
}
.banner-gallery{
    display: flex;
    gap: 20px;
    align-items: end;
}
.banner-img-1{
    z-index: 2;
    margin-top: 80px;
}
#banner-img-3{
    margin-top: 20px;
}

/* features style start */
#features-section{
    margin: 20px 0 80px 0;
    background-image: url('./images/features/features.png');
    background-color: #282A2E;
    width: 100%;
    
}
#features{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    color: #EDEDED;
    padding: 40px 80px;
    gap: 40px;
}
.feature h1{
    font-size: 38px;
    font-weight: 600;
}
.feature h3{
    font-size: 23px;
    font-weight: 600;
    padding: 10px 0;
}
.feature p{
    font-size: 16px;
}

/* properties style start */
#properties-section{
    padding: 40px 80px;
}
#properties{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.propertie1{
    background-image: linear-gradient(to bottom, rgba(76, 77, 85, 0.52), rgba(0, 0, 0, 0.73)), url('/images/properties/propertie1.png');
    width: 100%;
    height: 353px;
    position: relative;
}
.propertie2{
    background-image: linear-gradient(to bottom, rgba(76, 77, 85, 0.52), rgba(0, 0, 0, 0.73)), url('/images/properties/propertie2.png');
    width: 100%;
    height: 353px;
    position: relative;
}
.propertie3{
    background-image: linear-gradient(to bottom, rgba(76, 77, 85, 0.52), rgba(0, 0, 0, 0.73)), url('/images/properties/propertie3.png');
    width: 100%;
    height: 353px;
    position: relative;
}
.propertie4{
    background-image: linear-gradient(to bottom, rgba(76, 77, 85, 0.52), rgba(0, 0, 0, 0.73)), url('/images/properties/propertie4.png');
    width: 100%;
    height: 353px;
    position: relative;
}
.propertie1 button{
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 9px;
    background-color: #709DFF;
    color: #ffffff;
    font-weight: 500;
}
.propertie2 button{
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 9px;
    background-color: #709DFF;
    color: #ffffff;
    font-weight: 500;
}
.propertie3 button{
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 9px;
    background-color: #709DFF;
    color: #ffffff;
    font-weight: 500;
}
.propertie4 button{
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 9px;
    background-color: #709DFF;
    color: #ffffff;
    font-weight: 500;
}
.propertie-address{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;
}
.propertie-address h4{
    font-size: 16px;
    font-weight: 500;
}

/* properties style end */